@page
@model DashboardModel
@{
    ViewData["Title"] = "Analíticas";
}

<div class="text-center">
    <iframe width="1200" height="600" src="https://lookerstudio.google.com/embed/reporting/3f514a77-776c-4d49-9c01-ab7b9498605d/page/OvYLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
</div>