@page
@model PerfilModel
@{
    ViewData["Title"] = "Home page";
}

<div class=" rounded-5 card bg-secondary bg-opacity-10 p-3"> 
    <div class="row">
        <div class="col-sm-3 align-items-stretch">
            <div class="card bg-secondary bg-opacity-25 mx-4 my-4 rounded-5 p-3">
                <!--<img src="~/imagen/,,.png" alt=""> -->
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi saepe ea velit, tempore libero commodi. Perferendis, RAAAAAAAAAAAAAAAAAAAA!</p>
            </div>
        </div>

        <div class="col-sm-8 align-items-stretch">
            <div class="card bg-secondary bg-opacity-25 m-4 rounded-4" >
                <div class="card-body">
                    <h3 class="card-title"><b>Nombre:</b>  Andrés de la Garza<h3>
                        <br>
                        <h5 class="card-text">Último Juego</h5>
                        
                </div>
            </div>    
        </div>            
            
    </div>

    <hr>

        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-secondary bg-opacity-25 m-3 rounded-4 w-5 p-3">
                    <!--<img src="~/imagen/,,.png" alt=""> -->
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi saepe ea velit, tempore libero commodi. Perferendis, pariatur itaque atque voluptas similique, vitae nostrum nam deserunt maxime voluptatum, iusto temporibus laudantium!</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body bg-secondary bg-opacity-25 m-3 rounded-4 w-5 p-3">
                    <h5 class="card-title">Nombre:</h5>
                    <!--<img src="~/imagen/,,.png" alt=""> -->
                </div>
            </div>            

            <div class="col-sm-4">
                <div class="card bg-secondary bg-opacity-25 m-3 rounded-4 w-5 p-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cum doloribus officiis? Fugit voluptas voluptatibus, error accusantium totam excepturi amet aliquid ullam. Obcaecati labore magnam voluptatem! Est voluptatum voluptates omnis?</p>
                    <!--<img src="~/imagen/,,.png" alt=""> -->
                </div>
            </div>  
       </div>
</div>







    
  


