.medallas{
  height: auto;
  display: flex;
  flex-direction: column; 
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}

.fila-superior {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.textoSuperior {
    display: flex;
    flex-direction: column;
}

.textoSuperior p {
    margin-bottom: 8px;
}

.textoInferior {
    margin: 0px;
    color: #444;
    text-align: justify;
    margin-left: 20px;
}

#nat{
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}

.medallas-iconos img {
  margin: 5px;
}

.medallas-iconos {
  margin: 10px;
}

#cardBodyNAT img {
  margin-bottom: 0px;
}

#cardBodyNAT div {
  text-align: left;
}

#medallasContainer {
    height: 400px;
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #ccc; 
}

#btnNat{
    margin-top: 10px;
}