html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-nav {
  padding: 0.5%;
  font-weight: bold;
}

body {
  background-color: #fff8dc;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: #DF0024;
}

.card-body img {
  margin-bottom: 10px;
}

.card-body div {
  text-align: center;
}

.color-header{
  color: #DF0024;
}

.color-text{
  color:#F6D300;
  -webkit-text-stroke: 1px black;

}

.center-div{
  height: 75vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}